<ion-content>
	<div class="background-image"></div>
	<div class="text">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-text>
						<h1>Welcome</h1>
					</ion-text>
				</ion-col>				
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-text>
						<small>Sistema de compra para pequeños negocios</small>
					</ion-text>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input type="text" placeholder="Usuario"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input type="password" placeholder="Password"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button color="light" shape="round" fill="outline" (click)="ingresar()">Ingresar</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
